/* Base */
/* ----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}

a {
    color: #2a7ae2;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

a:visited {
    color: #205caa;
}

img {
    max-width: 100%;
}

/* Utility */
.wrap:before, .wrap:after {
    content: "";
    display: table;
}

.wrap:after {
    clear: both;
}

.wrap {
    max-width: 840px;
    padding: 0 30px;
    margin: 0 auto;
    zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/
/* Site header */

.site-header {
    border-top: 5px solid #333;
    border-bottom: 1px solid #e8e8e8;
    background-color: transparent;
}

.site-title, .site-title:hover, .site-title:visited {
    display: block;
    color: #333;
    font-size: 26px;
    letter-spacing: -1px;
    float: left;
    margin: 5px auto;
    z-index: 1;
}

.site-description {
    float: left;
    line-height: 32px;
    margin-left: 20px;
    font-size: 85%;
    color: #999;
}

.site-nav {
    float: right;
}

.site-nav .menu-icon {
    display: none;
}

.site-nav .page-link {
    margin-left: 20px;
    color: #727272;
    letter-spacing: -.5px;
}


/* Site footer */
.site-footer {
    border-top: 1px solid #e8e8e8;
}

.footer-heading {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -.5px;
    margin-bottom: 15px;
}

.site-footer .column {
    float: right;
    margin: 10px 0;
}

.site-footer ul {
    list-style: none;
    float: left;
}

.site-footer li {
    font-size: 15px;
    color: #828282;
    float: left;
    margin-left: 20px;
}

.icon.github {
    margin-right: 3px;
}

.github-icon-svg, .twitter-icon-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}


/* Page Content styles */
/* ----------------------------------------------------------*/
.page-content {
    padding: 30px 0;
    background-color: white;
}


/* Home styles */
/* ----------------------------------------------------------*/

.home h1 {
    margin-bottom: 25px;
}

.posts {
    list-style-type: none;
}

.posts li {
    margin-bottom: 30px;
}

.posts .post-link {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1;
}

.posts .post-date {
    display: block;
    font-size: 15px;
    color: #818181;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header {
    margin: 10px 0;
}

.post-header h1 {
    font-size: 42px;
    letter-spacing: -1.75px;
    line-height: 1;
    font-weight: 300;
}

.post-header .meta {
    font-size: 15px;
    color: #818181;
    margin-top: 5px;
}

.post-content {
    margin: 0;
    overflow: hidden;
}

.post-content> * {
    margin: 20px 0;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    line-height: 1;
    margin: 30px 0 20px;
}

.post-content h1 {
    font-weight: 600;
}

.post-content h2 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -1.25px;
}

.post-content h3 {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -1px;
}

.post-content h4 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -1px;
}

.post-content blockquote {
    border-left: 4px solid #e8e8e8;
    padding-left: 20px;
    font-size: 18px;
    opacity: .6;
    letter-spacing: -1px;
    font-style: italic;
    margin: 30px 0;
}

.post pre {
    padding: 8px 12px;
    border-radius: 3px;
    font-size: 15px;
    overflow: auto;
    white-space: pre-wrap;
    background-color: rgba(215, 215, 215, 0.10);
    border: 1px solid rgba(215, 215, 215, 0.6);
}

.post ul {
    padding: 8px 20px 8px 40px;
    border-radius: 3px;
    background-color: rgba(215, 215, 215, 0.10);
    border: 1px solid rgba(215, 215, 215, 0.6);
}

.post ul ul,
.post ul ol,
.post ol ol {
    border-radius: 0;
    border: none;
    background-color: transparent;
}

.post ol {
    padding: 8px 20px 8px 40px;
    border-radius: 3px;
}

.post ol li {
    word-break: break-word;
}

.post ol li code {
    padding: 1px 3px;
    margin: 0 3px;
    border-radius: 2px;
    font-size: 85%;
    overflow: auto;
    white-space: pre-wrap;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(215, 215, 215, 0.6);
}

.post p code {
    padding: 1px 4px;
    margin: 0 3px;
    border-radius: 2px;
    font-size: 85%;
    overflow: auto;
    white-space: pre-wrap;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(215, 215, 215, 0.6);
}

.post kbd {
    margin: 0 3px;
    font-size: 85%;
    overflow: auto;
    white-space: pre-wrap;
    border: 1px solid rgba(215, 215, 215, 0.6);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    box-shadow: 1px 1px 1px #aaa;
    padding: 2px 10px 3px 10px;
}

.post pre code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}


/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: white;
    border-radius: 3px;
}

.post pre.terminal code {
    background-color: #333;
}

.pagination {
    float: right;
}

.pagination a {
    margin: 0 3px;
}


/* bootstrap table style */
table {
    width: 100%;
    max-width: 100%;
    border: 1px solid #ddd;
    background-color: transparent;
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}

th {
    text-align: left;
}

table> thead> tr> th,
table> tbody> tr> th,
table> tfoot> tr> th,
table> thead> tr> td,
table> tbody> tr> td,
table> tfoot> tr> td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #ddd;
}

table> tbody> tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

table> tbody> tr:hover {
    background-color: #ffe;
}


/* post navigation */
.post-navigation {
    display: none;
    width: auto;
    overflow: hidden;
}

.post-navigation a {
    display: block;
    width: 50%;
    float: left;
    margin-top: 1em;
}

.post-navigation .next {
    text-align: right;
}


/* media queries */
@media screen and (max-width: 600px) {
    .wrap {
        padding: 0 12px;
    }
    .site-description {
        float: right;
        margin-left: 0;
    }
    .site-nav {
        position: fixed;
        z-index: 10;
        top: 14px;
        right: 8px;
        background-color: white;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
    }
    .site-nav .menu-icon {
        display: block;
        font-size: 24px;
        color: #505050;
        float: right;
        width: 36px;
        text-align: center;
        line-height: 36px;
    }
    .site-nav .menu-icon svg {
        width: 18px;
        height: 16px;
    }
    .site-nav .trigger {
        clear: both;
        margin-bottom: 5px;
        display: none;
    }
    .site-nav:hover .trigger {
        display: block;
    }
    .site-nav .page-link {
        display: block;
        text-align: right;
        line-height: 1.25;
        padding: 5px 10px;
        margin: 0;
    }
    .post-header h1 {
        font-size: 36px;
    }
    .post-content h2 {
        font-size: 28px;
    }
    .post-content h3 {
        font-size: 22px;
    }
    .post-content h4 {
        font-size: 18px;
    }
    .post-content blockquote {
        padding-left: 10px;
    }
}
