.grid-block {
  display: inline-block;
  float: left;
  letter-spacing: normal;
  padding: 0px 10px;
  vertical-align: top;
  word-spacing: normal;
  text-rendering: auto;
  width: 100%;
  zoom: 1;
  margin: 30px 0;
}

.post ul {
  padding: 0;
}

.post li {
  border-bottom: 1px dashed #e0e0e0;
  line-height: 1.55;
  list-style-type: none;
  padding: 7px 0;
}

kbd {
  background-color: #eee;
  color: #000;
  border-radius: 0;
  box-shadow: none;
  font-family: monospace,serif;
  font-size: 1em;
  font-weight: bold;
  padding: 0 4px;
}

.container {
  background: #fff;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

.link-to-repo {
  margin: 20px 0;
  text-align: center;
}

.link-to-repo p {
  margin-bottom: inherit;
}


.ja {
  font-size: 13px;
}

.ja h2 {
  font-size: 20px;
}

.ja kbd {
  font-size: 16px;
}

.box {
  background: #f8f8f8;
  border: 1px solid #E7E7E7;
  margin: 10px 0;
  width: 100%;
}

.box .grid-block {
  padding: 0
}

.box-header {
  background: #EBEBEB;
  min-height: 30px;
  padding: 10px;
}

.box-header h2{
  font-size: 16px;
  margin: 5px 0;
}

.box-body {
  font-size: 14px;
  display: block;
  clear: both;
  overflow: hidden;
  padding: 0 10px;
  padding-bottom: 20px;
}

.box-body li {
  border-bottom: none;
  line-height: inherit;
  list-style-type: none;
  padding: 7px 7px;
}

