doctype
html
  head
    meta(charset="utf-8")
    title 4e00
    meta(name="viewport" content="width=device-width")
    meta(name="description" content="{\"type\":\"编程笔记\"}")
    link(rel="stylesheet" href="/css/main.css")
  body
    != yield