ul.posts
    li
        a.post-link(href="http://www.4e00.com/blog/") blog
    li
        a.post-link(href="https://ide.c9.io/yuweijun/html5") c9 editor
    li
        a.post-link(href="/ace/js.html") js editor
    li
        a.post-link(href="/tools/js-shell.html") js shell
    li
        a.post-link(href="/tools/js-lint.html") js lint
    li
        a.post-link(href="/tools/js-beautifier.html") js beautifier
    li
        a.post-link(href="/tools/vim-keyboard-shortcuts.html") vim shortcuts
    li
        a.post-link(href="/tools/vimum.html") vim user manual
    li
        a.post-link(href="/vim-en/index.html") vim help documentation
    li
        a.post-link(href="/vim-zh/help.html") vim chinese help documentation