header.site-header
    h1 一 4e00.com 一

div.site-content
    ol
        li
            a(href='/blog/') yuweijun's blog
        li
            a(href='https://ide.c9.io/yuweijun/html5') c9 editor
        li
            a(href='/ace/') markdown editor
        li
            a(href='/ace/js.html') javascript editor
        li
            a(href='/ace/ruby.html') ruby editor
        li
            a(href='/ace/html.html') html editor
        li
            a(href='/ace/css.html') css editor
        li
            a(href='/ace/php.html') php editor
        li
            a(href='/tools/js-shell.html') js shell
        li
            a(href='/tools/js-lint.html') js lint
        li
            a(href='/tools/js-beautifier.html') js beautifier

footer.site-footer
    div.footer-heading
        a(href="https://github.com/yuweijun")
            span.username yuweijun